<%- include('../partials/header') %>

<table>
    <tbody>
        <label class="review">Review: </label>
        <br>
        <br>
        <% if (review) { %>
        <% console.log('this shows up'); } %>
        <tr>
            <td>
                <form class="edit-review" action="/reviews/<%= review._id %>?_method=PUT" method="POST">
                    Review: <textarea placeholder="<%= review.content %>"></textarea>
                    <br>
                    <br>
                    <input type="submit" value="Edit Review" action="/past-entry/:id"></input>
                </form>
            </td>
        </tr>
    </tbody>
</table>   
    

<%- include('../partials/footer') %>