<!--This is the new entry form page-->

<%- include('../partials/header') %>
<div>
    <nav>
        <h2 class="title"><%= title %></h2>
        <a class="logout" href="/logout"><h2>Log Out</h2></a>
    </nav>
</div>

<form id="new-entry" action="/new-entry" method="POST">
    <label class="name">Name: </label>
        <input class="name" type="text" name="name">
        <br>
    <label class="age">Age Range: </label>
        <select class="age" name="age">
            <option value="18-25">18-25</option>
            <option value="26-35">26-35</option>
            <option value="36-45">36-45</option>
            <option value="46-55">46-55</option>
            <option value="56-65">56-65</option>
            <option value="66-75">66-75</option>
            <option value="76-85">76-85</option>
            <option value="86-99">86-99</option>
        </select>
        <br>
    <label class="profession">Profession: </label>
        <input class="profession" type="text" name="profession">
        <br>
    <label class="zodiac">Zodiac Sign: </label>
        <select class="zodiac" name="zodiac">
            <option value="Aquarius">Aquarius</option>
            <option value="Pisces">Pisces</option>
            <option value="Aries">Aries</option>
            <option value="Taurus">Taurus</option>
            <option value="Gemini">Gemini</option>
            <option value="Cancer">Cancer</option>
            <option value="Leo">Leo</option>
            <option value="Virgo">Virgo</option>
            <option value="Libra">Libra</option>
            <option value="Scorpio">Scorpio</option>
            <option value="Sagittarius">Sagittarius</option>
            <option value="Capricorn">Capricorn</option>
        </select>
    <br>
    <br>
    <label class="review">Review: </label>
    <textarea class="review" action="/reviews" name="content">
    </textarea> 
    <br>
    <br>
    <label class="rating">Rating:</label>
    <select class="rating" name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <br>
    <br>
    <label class="repeatDate">Date Again?: </label>
    <input class="repeatDate" type="checkbox" name="repeatDate" value="true" checked>
    <br>
    <br>
    <input type="submit" value="Add Entry" action="users-homepage"></input>

</form>














<%- include('../partials/footer') %>