<!--This is the new entry form page-->

<%- include('../partials/header') %>
<div>
    <nav>
        <h2 class="title"><%= title %></h2>
        <a class="logout" href="/logout"><h2>Log Out</h2></a>
    </nav>
</div>

<form id="new-entry" action="/new-entry" method="POST">
    <label>Name: </label>
        <input class="name" type="text" name="name">
        <br>
    <label>Age: </label>
        <input class="age" type="number" name="age">
        <br>
    <label>Profession: </label>
        <input class="profession" type="text" name="profession">
        <br>
    <label>Zodiac Sign: </label>
        <select class="zodiac" name="zodiac">
            <option value="Aquarius">Aquarius</option>
            <option value="Pisces">Pisces</option>
            <option value="Aries">Aries</option>
            <option value="Taurus">Taurus</option>
            <option value="Gemini">Gemini</option>
            <option value="Cancer">Cancer</option>
            <option value="Leo">Leo</option>
            <option value="Virgo">Virgo</option>
            <option value="Libra">Libra</option>
            <option value="Scorpio">Scorpio</option>
            <option value="Sagittarius">Sagittarius</option>
            <option value="Capricorn">Capricorn</option>
        </select>
    <br>
    <br>
    <label>Review: </label>
    <textarea class="review" name="content">
    </textarea> 
    <br>
    <br>
    <label>Rating:</label>
    <select class="rating" name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <br>
    <br>
    <label>Date Again?: </label>
    <input type="checkbox" name="repeatDate" checked>
    <br>
    <br>
    <input type="submit" value="Add Review" action="users-homepage"></input>

</form>














<%- include('../partials/footer') %>