<!--This is the home page while logged in-->
<%- include('../partials/header') %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div>
      <nav>
        <h2 class="title"><%= title %></h2>
        <a class="logout" href="/logout"><h2>Log Out</h2></a>
      </nav>
    </div>

    <button type="submit" value="New Entry">New Entry</button>

    <button type="submit" value="Past Entry">Past Entry</button>


    <%- include('../partials/footer') %>
