<!--This is the home page while logged in-->
<%- include('../partials/header') %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    
    
    <div>
      <nav>
        <a class="home" href="/"><h4>Home</h4></a>
        <h4 class="title"><%= title %></h4>
        <a class="logout" href="/logout"><h4>Log Out</h4></a>
      </nav>
    </div>

    <br>
    <br>

  <form action="/new-entry">
    <button type="submit" value="New Entry">New Entry</button>
  </form>
  <br>
  <br>
  <form action="/past-entry">
    <button type="submit" value="Past Entry">Past Entry</button>
  </form>


   

    <%- include('../partials/footer') %>
