<!--This is the home page while logged in-->
<%- include('../partials/header') %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    
    <div>
      <nav>
        <h2 class="title"><%= title %></h2>
        <a class="logout" href="/logout"><h2>Log Out</h2></a>
      </nav>
    </div>

    <br>
    <br>

  <form action="/new-entry">
    <button type="submit" value="New Entry">New Entry</button>
  </form>
  <br>
  <form action="/past-entry">
    <button type="submit" value="Past Entry">Past Entry</button>
  </form>

    <%- include('../partials/footer') %>
